# Question 1

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#Null hypothesis Ho: µ1 =µ2 (There is no difference in diameters of cutlets between two units)
#Alternate hypothesis Ha: µ1 ≠ µ2 (There is difference in diameters of cutlets between two units

In [3]:
df=pd.read_csv("Cutlets.csv")
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
unitA=df.iloc[:,0]
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [5]:
unitB=df.iloc[:,1]
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [6]:
stats.ttest_ind(unitA,unitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [7]:
p=0.47

In [8]:
a=0.05

In [9]:
if p>a:
    print("Accept Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Accept Null Hypothesis

## There is no difference in diameters of cutlets between two units.

#

# Question 2

In [10]:
import pandas as pd
import numpy as np
from scipy import stats

In [11]:
df=pd.read_csv('LabTAT.csv')
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [12]:
df.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [13]:
#Null Hypothesis Ho: All samples TAT population means same
#Alternate Hypothesis H1: Atleast one sample TAT population mean is different

In [14]:
#Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [15]:
p=0
alpha=0.05

In [16]:
if p>alpha:
    print("Accept Null Hypothesis")
else:
    print("Reject the Null Hypothesis and accept Alternative Hypothesis")

Reject the Null Hypothesis and accept Alternative Hypothesis

## So, concluded that atleast one sample TAT population mean is different.

#

# Question 3

In [17]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [18]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [19]:
#Assume Null hypothesis Ho:Independent of categorical variables means male-female buyer rations are similar across regions
#Alternative hypothesis Ha: Dependent of categorical variables means male-female buyer rations are not similar across regions

In [20]:
# Make dimentional array
df1=np.array([[50,142,131,70],[435,1523,1356,750]])
df1

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [21]:
# chi2 contengency independence test
chi2_contingency(df1) #(chi2 stats value. p_value, df, expected observations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [22]:
p=0.66
alpha=0.05

## p Value > alpha value
## "Accept Null Hypothesis"

#

# Question 4

In [23]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [24]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
#Assume Null hypothesis Ho: Customer order forms defective % does not varies by center
#Alternative hypothesis Ha: Customer order forms defective % varies by center

In [26]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [27]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [28]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [29]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [30]:
df1=np.array([[271,267,269,280],[29,33,31,20]])

In [31]:
chi2_contingency(df1)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [32]:
# p-value > 0.05, accept null hypothesis

In [33]:
p=0.2771020991233135
alpha=0.05

In [34]:
if p>alpha:
    print("Accept Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Accept Null Hypothesis

## Thus,Customer order forms defective % doesn't varies by center.